
body{
    width: 80%;
    background-color: #0C1927;
    margin: 0 auto;
}
.H2margin{
    font-family: 'Gilam', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
    margin-top: 150px;
}
h2{
    font-family: 'Gilam', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
}
p{
    font-family: 'Gilam', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
    padding-top: 40px;
    width: 80%;
    margin-bottom: 41px;
}
a{
    font-family: 'Gilam', sans-serif;
    text-decoration: none;
    color: #FFFFFF;
}
.flex-top{
    display: flex;
    flex-direction:row;
    justify-content: flex-end;
}
.logo{
    margin-right: auto;
    margin-top: 10px;
}
.callback{
    border: 1px solid #E4B564;
    color: #E4B564;
    padding: 10px 20px;
    margin-top: 10px;
    font-family: 'Gilam', sans-serif;
}
.callback:before{
    content: url("img/vector.png");
    left: -5px;
    position: relative;
}
.number span{
    color: #E4B564;
}
.number{
    color:white;
    float: right;
    margin-top: 20px;
    padding-right: 10px;
    font-family: 'Gilam', sans-serif;
}
.container{
    font-family: 'Gilam', sans-serif;
    font-weight: bold;
    color: #FFFFFF;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 27px 27px;
    grid-auto-flow: row;
    grid-template-areas:
    "item-1 item-1 item-2 item-2 item-3 item-3"
    "item-4 item-4 item-4 item-5 item-5 item-5";
}
.item-1{
    grid-area: item-1;
    background-color: #634F2C;
    height: 468px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item-2{
    grid-area: item-2;
    background-color: #B4A385;
    height: 468px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item-3{
    grid-area: item-3;
    background-color: #E4B564;
    height: 468px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item-4{
    grid-area: item-4;
    background-color: #635A4A;
    height: 468px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item-5{
    grid-area: item-5;
    background-color: #B08C4D;
    height: 468px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.FlexContainer span{
    font-family: 'Gilam', sans-serif;
    font-weight: bold;
}

.FlexContainer{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 24px;
}
.FlexContainer a{
    position: relative;
    top: 50px;
    left: 50px;
}
.col1row1{
    width: 467px;
    height: 313px;
    background-color: #0E0E0E;
    align-items: flex-start;
    justify-content: flex-start;
    display: flex;
    margin-top: 94px;
}
.col1row2{
    width: 467px;
    height: 560px;
    background-color: #1F1F1F;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 24px;
    display: flex;
}

.col2row1{
    width: 467px;
    height: 439px;
    background-color: #242424;
    align-items: flex-start;
    justify-content: flex-start;
    display: flex;
    margin-top: 94px;
}
.col2row2{
    width: 467px;
    height: 405px;
    background-color: #E4B564;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 24px;
    display: flex;
}
.col3row1{
    width: 467px;
    height: 255px;
    background-color: #1F1F1F;
    align-items: flex-start;
    justify-content: flex-start;
    display: flex;
    margin-top: 94px;
}
.col3row2{
    width: 467px;
    height: 313px;
    background-color: #0E0E0E;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 24px;
    display: flex;
}
.col3row3{
    width: 467px;
    height: 277px;
    background-color: #0A0909;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 24px;
    display: flex;
    margin-bottom: 150px;
}
.allprojects{
    border: 1px solid #E4B564;
    color: #E4B564;
    padding: 10px 20px;
    margin-top: 10px;
    font-family: 'Gilam', sans-serif;
}
.projects-flex{
    display: flex;
    justify-content: space-between;
}
.grid-bottom {
    display: grid;
    grid-template-columns: repeat(3, 391px);
    grid-template-rows: repeat(2, 487px);
    margin-top: 72px;
    justify-content: center;
}

.grid1 {
    background-color: #634F2C;
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid2 {
    background-color: #E8D2AB;
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    font-family: 'Gilam', sans-serif;
}

.grid3 {
    background-color: #E4B564;
    grid-area: 1 / 3 / 2 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid4 {
    background-color: #635A4A;
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid5 {
    background-color: #B08C4D;
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid6 {
    background-color: #634F2C;
    grid-area: 2 / 3 / 3 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
}
